{% extends "my_top_tens/base.html" %}

{% block content %}
  <h2 class="mb-4">Add a New Topic</h2>
  <form action="{% url 'my_top_tens:new_topic' %}" method="post" class="mt-3">
    {% csrf_token %}
  
    <div class="mb-4">
      <label for="id_text" class="form-label">Topic</label>
      <input type="text" name="text" id="id_text" class="form-control" placeholder="Enter topic title">
    </div>
    
    <div class="mb-4">
      <label for="id_description" class="form-label">Description (Optional)</label>
      <textarea name="description" id="id_description" class="form-control" placeholder="Optional description" rows="4"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary mt-3 mb-5">Add Topic and Description</button>
  </form>
{% endblock content %}


